# DS 3002: Data Processor Project

Lindsey Norberg (lmn9ms) 

November 8, 2021

Data Processor for 2021 Olympic Medals by Country

In [ ]:
import numpy as np 
import pandas as pd
import csv
import json
import os
import sys 
import re 
import string

Extracting the data from source and reading in the file as a csv

In [21]:
medals = pd.read_csv("Medals.csv")
medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

Overwriting the csv file as the json file

In [29]:
medals.to_json("Medals.csv")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

Transforming the data by dropping the primary rank column. This is performed after the extracting of data from the local source.

In [32]:
transformed_medals = medals.drop(['Rank'], axis = 1)
transformed_medals.head()

                     Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
0    United States of America    39      41      33    113              1
1  People's Republic of China    38      32      18     88              2
2                       Japan    27      14      17     58              5
3               Great Britain    22      21      22     65              4
4                         ROC    20      28      23     71              3

Data is written to the local drive in a json format.

In [40]:
transformed_medals.to_json(r"transformed_medals.json")

Finding the dimensions of the data - number of columns and the number of records (rows)

In [53]:
num_cols = transformed_medals.shape[0]
num_rows = transformed_medals.shape[1]
print("Data set contains", num_cols, "columns and", num_rows, "records.")

Data set contains 93 columns and 6 records.

Creating a function that will take a percentile and a column and return the unique countries that are in that percentile of medals. It will only accept the following columns: Gold, Silver, Bronze, or Total.

In [127]:
def get_countries_in_percentile(percentile, column):
    ## The function should only accept the following columns 
    if column != "Gold" and column != "Silver" and column!= "Bronze" and column != "Total":
        print("Column not valid.")
        return
        
    index = transformed_medals[column] > np.percentile(transformed_medals[column], percentile)
    percentile_totals = transformed_medals[index]
    country_list = percentile_totals["Team/NOC"].unique()
    
    print("Countries in the", percentile, "th Percentile of", column, ":", country_list)

Getting the countries in the 50th percentile or above in Gold medals.

In [128]:
get_countries_in_percentile(50, "Gold")

Countries in the 50 th Percentile of Gold : ['United States of America' "People's Republic of China" 'Japan'
 'Great Britain' 'ROC' 'Australia' 'Netherlands' 'France' 'Germany'
 'Italy' 'Canada' 'Brazil' 'New Zealand' 'Cuba' 'Hungary'
 'Republic of Korea' 'Poland' 'Czech Republic' 'Kenya' 'Norway' 'Jamaica'
 'Spain' 'Sweden' 'Switzerland' 'Denmark' 'Croatia'
 'Islamic Republic of Iran' 'Serbia' 'Belgium' 'Bulgaria' 'Slovenia'
 'Uzbekistan' 'Georgia' 'Chinese Taipei' 'Turkey' 'Greece' 'Uganda'
 'Ecuador' 'Ireland' 'Israel' 'Qatar' 'Bahamas' 'Kosovo']

Getting the countries in the 95th percentile and above in the total number of medals.

In [129]:
get_countries_in_percentile(95, "Total")

Countries in the 95 th Percentile of Total : ['United States of America' "People's Republic of China" 'Japan'
 'Great Britain' 'ROC']

Getting the countries in the 95th percentile and above in the number of Gold medals.

In [133]:
get_countries_in_percentile(95, "Gold")

Countries in the 95 th Percentile of Gold : ['United States of America' "People's Republic of China" 'Japan'
 'Great Britain' 'ROC']

Getting the countries in the 95th percentile and above in the number of Silver medals.

In [134]:
get_countries_in_percentile(95, "Silver")

Countries in the 95 th Percentile of Silver : ['United States of America' "People's Republic of China" 'Japan'
 'Great Britain' 'ROC']

Getting the countries in the 95th percentile and above in the number of Bronze medals.

In [ ]:
get_countries_in_percentile(95, "Bronze")

Checking to make sure that the funciton will not accept an invalid column parameter. Should print out a message that indicates that the column is not valid.

In [136]:
get_countries_in_percentile(95, "Team/NOC")

Column not valid.